body {
    background: #000000;
    font-family: sans-serif;
}

a, a:hover, a:visited, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

p {
    color: #FFFFFF;
}

.page {
    padding: 0;
    margin: 25px;
}

/* Título */

table.tabtitle {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
table.tabtitle tbody tr td {
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
}

table.tab {
    background-color: red;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

table.tab tbody {
    border: 1px solid #FFFFFF;
}

table.tab tbody tr {
    border: 1px solid #FFFFFF;
}

table.tab tbody tr td:nth-child(1) {
    text-align: left;
    padding-left: 25px;
}

table.images tbody tr td img {
    margin: 0 0 0 0;
    width: 150px;
    height: auto;
}

table.tab tbody tr td:nth-child(3) {
    text-align: right;
    padding-right: 25px;
}

table.tab tbody tr td:nth-child(1),
table.tab tbody tr td:nth-child(3) {
    width: 15%;
}

table.tab tbody tr td:nth-child(2) {
    font-size: 40px;
    color: #FFFFFF;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

table.tab tbody tr td:nth-child(1) a:hover,
table.tab tbody tr td:nth-child(3) a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* Imagenes (4 imágenes/fila) */
div.gallery {
    border: 2px solid #CCCCCC;
}

div.gallery:hover {
    border: 2px solid #FF0000;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    background: #FFFFFF;
    color: #000000;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

div.gallery:hover div.desc {
    background: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 3px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer hr {
    border: 2px solid #FF0000;
}

footer h1 {
    color: #FF0000;
    font-size: 26px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

footer h2 {
    font-style: italic;
    color: #FF0000;
    font-size: 18px;
    text-align: center;
    font-weight: initial;
    width: 100%;
}

footer a {
    color: #FF0000;
    text-decoration: none;
}

footer a:hover {
    color: #ff7575;
}

footer a:visited {
    color: #ffc3c3;
}